.App {
  text-align: center;
}

.App-header {
  font-family: 'Rubik Moonrocks', cursive, 'Impact', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #255035;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

article {
  border-bottom: 1px black dotted;
  border-radius: 50px;
  margin-bottom: 50px;
  padding: 45;
}

article h3 {
  font-size: 60px;
  margin-bottom: 10px;
}

article p {
  font-weight: bold;
  font-size: 25px;
  padding: 0 100px;
}

footer {
  font-size: 10px;
  margin-bottom: 50px;
}

footer p {
  margin: 5px 0 0 0;
}

.sheets {
  text-align: left;
}

section.sheets  p {
  font-size: 14px;
  font-weight: normal;
}

section.sheets .minor-info {
  font-weight: normal;
  font-size: 14px;
}

section.sheets .very-minor {
  font-weight: normal;
  font-size: 10px;
}

section.sheets .sheet-name {
  font-size: 20px;
  font-weight: bold;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 700px) {
  html .blank-spot {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  article section.sheets p {
    padding: 0 10px;
  }
}